statemachine/pipeline.asl.json
{
  "Comment": "CloudGuard DNS event pipeline — persist + severity-based branching with SNS+WAF outputs",
  "StartAt": "Persist",
  "States": {
    "Persist": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${persist_lambda_arn}",
        "Payload.$": "$"
      },
      "ResultPath": "$.persistResult",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException", "Lambda.TooManyRequestsException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "ChooseAction"
    },
    "ChooseAction": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.detail.severity",
          "StringEquals": "HIGH",
          "Next": "HighSeverityHook"
        }
      ],
      "Default": "Done"
    },
    "HighSeverityHook": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "PublishAlert",
          "States": {
            "PublishAlert": {
              "Type": "Task",
              "Resource": "arn:aws:states:::sns:publish",
              "Parameters": {
                "TopicArn": "${sns_topic_arn}",
                "Subject": "CloudGuard DNS — HIGH severity event",
                "Message.$": "States.JsonToString($)"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "BlockIP",
          "States": {
            "BlockIP": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${block_ip_function_arn}",
                "Payload.$": "$"
              },
              "Retry": [
                {
                  "ErrorEquals": ["WAFOptimisticLockException", "Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException", "Lambda.TooManyRequestsException"],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2
                }
              ],
              "End": true
            }
          }
        }
      ],
      "ResultPath": "$.outputs",
      "Next": "Done"
    },
    "Done": {
      "Type": "Pass",
      "End": true
    }
  }
}
